@charset "utf-8";

body {
	/* The menus are actually made to handle vertical scrolling if needed. Horizontal scrolling is a no. */
	overflow-x: hidden;
}

.container {
	width: min(1080px, 100% - 30px);
	margin-inline: auto;
}

.flex {
	display: flex;
}

.flex-vertical {
	display: flex;
	flex-direction: column;
}

a {
	color: inherit;
	text-decoration: inherit;
}

.center {
	margin: auto;
}

.fill {
	width: 100vw;
	min-height: 100vh;
}