@charset "utf-8";

.main-menu {
	
}

.main-menu h1 {
	text-align: center;
	margin-bottom: 40px;
}

.wide-button {
	display: block;
	width: 400px;
	height: var(--app-button-height);
	border-radius: 10px;
	margin-top: 20px;

	background-color: var(--app-color-1);

	font-size: 28px;

	/* Why are button base styles garbage? Both of these should be the default*/
	color: inherit;
	cursor: pointer;

	transition: background-color 0.5s;
}

.wide-button:hover {
	background-color: var(--app-color-1-hover);
}